<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img id="barrLogo" class="img-responsive" src="/images/barrLogo.png"></a> 
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-right">
                <!-- Removed Login and Sign Up option from Menubar since only signed in Admin users can even see this page -->
                <li class="signedIn hidden"><a id="loginLink" href="#"> Logged In: <span id="userName"></span></a>
                <li class="signedIn" id="logoutButton"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container text-center">
        <!--Header -->
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <h1>Barr Poker League</h1>
                </div>
            </div>
        </div>
        <!-- Leaderboard -->
        <div id="checkinDiv" class="row">
            <div class="col-xs-12">
                  <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class='text-center'>#</th>
                            <th class='text-center'>Player</th>
                            <th class='text-center'>Check 'em In</th>
                        </tr>
                    </thead>
                    <tbody id="playersForCheckin">
                        {{#each player}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td data-userId="{{this.userId}}">{{this.username}}</td>
                            <td class="checkinArea" data-checkedIn="{{this.player_checkedIn_flag}}">

                            {{#if this.player_checkedIn_flag}}
                            <i data-userId="{{this.userId}}" data-tournamentId="{{../tournamentId}}" style="color: #31E28F;" class="fa fa-3x fa-check" aria-hidden="true"></i>
                            {{/if}}

                            {{#unless this.player_checkedIn_flag}}
                            <button type="button" class="btn btn-lg btn-info blue checkIn" data-userId="{{this.userId}}" data-tournamentId="{{../tournamentId}}">Check In</button></td>
                            {{/unless}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    <!-- Button to be kept disabled until tournament begin time. Enable button 1 minute before tournament start time, so it's not accidentally clicked before everyone gets a chance to checkin. -->

    <button type="submit" class="btn btn-lg btn-success green" id="startTournament">Start Tournament</button>

    <div id="tournamentArea">
         <div class="row">
            <div class="col-xs-12">
                  <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class='text-center'>Player</th>
                            <th class='text-center'>Rank</th>
                        </tr>
                    </thead>
                    <tbody id="tournamentBody">
                        
                    </tbody>
                </table>
                <button type="button" id="submitResults" data-tournamentId="{{tournamentId}}" class="btn btn-lg btn-success green">Submit Results</button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Akhila | David | Kelly | Melinda 2017</span>
      </div>
</footer>

    <script type="text/javascript" src="/js/checkin.js"></script>