<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a href="/" class="pull-left"><img id="barrLogo" class="img-responsive" src="/images/barrLogo.png"></a> 
           {{!--  <a class="navbar-brand" href="/"><img class="navbar-brand" src="images/barrLogo.png" alt="Barr Poker Spade Logo"></img></a> --}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="notSignedIn"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li> 
                <li class="notSignedIn"><a href="/register">Sign Up</a></li>
                <li class="signedIn hidden"><a id="loginLink" href="#"> Logged In: <span id="userName"></span></a>
                <li class="signedIn hidden" id="logoutButton"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div class="container text-center">
        <!--Header -->
        <div class="row">
            <div class="col-xs-12">
            {{#if newUser}}
                <div class="alert alert-success">
                    <strong>Success!</strong> Your Account registration is complete. You can now <a href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                 </div>
             {{/if}}
                <div class="">
                    <h1>Leaderboard</h1>
                </div>
            </div>
        </div>
        <!-- Leaderboard -->
        <div class="row">
            <div class="col-xs-12">
                      <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th class='text-center'>Rank</th>
                            <th class='text-center'>Player</th>
                            <th class='text-center'>Last Played</th>
                            <th class='text-center'>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each responseData}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.username}}</td>
                            <td>{{dateFormat this.tournamentDate}} {{timeFormat this.tournamentTime}}</td>
                            <td>{{this.points}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


<h3 class="text-left">Open Tournaments</h3>
        <!-- List of Tournaments -->
        {{!-- <h4 class="text-left">Click on each to learn more</h4> --}}
        <div class="row text-left">
            <div class="col-xs-12">
                <div id="tournamentsList">
                    {{#each tournament}}
                    <div class="tournamentDiv" data-toggle="collapse" data-parent="#tournamentsList" href="#collapse{{this.id}}" aria-expanded="true" aria-controls="collapseOne">
                    <button class="btn btn-lg btn-danger red tournamentButtons">{{this.name}}</button></div>
                    <div id="collapse{{this.id}}" class="collapse">
                        <div class="tournamentData">
                            <p class="tournamentDate">Date: {{dateFormat this.date}}</p>
                            <p class="tournamentTime">Time: {{timeFormat this.time}}</p>
                            <button class="btn btn-lg btn-success green register" data-tournamentId="{{this.id}}">Register</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal fade text-center" role="dialog">
        <div class="modal-dialog">
            <!-- Login Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg fa-times-circle-o" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                <div id="loginErrorMessage" class="alert alert-danger">Email or Password is incorrect</div>
                    <form id="loginForm" method="post" action="/login">
                        <div class="input-group">
                            <span class="input-group-addon">Email</span>
                            <input id="email" type="text" class="form-control" name="email">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">Password</span>
                            <input id="password" type="password" class="form-control" name="password">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnSubmit" class="btn btn-lg btn-danger red center-block">Login</button>
                          
                          <small>Don't have an account? <a href="/register"><strong>Sign up</strong></a> for one.</small>
                            
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    
</div>
    

       <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">&copy; Akhila | David | Kelly | Melinda 2017</span>
      </div>
    </footer>


    <script type="text/javascript" src="/js/index.js"></script>